@charset "UTF-8";

/* 共通項目----------------------------- */

body{
    font-size: 16px;
    color: #333;
}

ul,ol{
    list-style-type: none;
}


.flex{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}

/* contact-btn */
.contact-btn{
    position: fixed;
    z-index: 10;
    bottom: 2%;
    right: 2%;
}


/* h2 title */
.eng{
    font-size: 2.5rem;
}
.jpn{
    font-size: 1.25rem;
    background-color: #F8931F;
    color: #fff;
}
.title-box{
    margin: 100px 0 50px 0;
}
.title-item{
    background-image: url(../img/h2-img.png);
    background-repeat: no-repeat;
    max-width: 38%;
    margin: 0 auto;
    height: 112px;
}
.eng, .jpn{
    position: relative;
    left: 5%;
    z-index: -1;
    padding-left: 22%;
}

/* background-------------- */
#events,#process,#contact{
    background-image: url(../img/section-bg.png);
    z-index: 0;
    position: relative;
    padding: 10px 0 80px 0;
}




/* top------------------------------------------ */

.top-img{
    height: 723px;
    background-image: url(../img/top-img.jpg);
    background-position: center;
}
.top-message{
    background-color: rgba(247, 147, 35, 0.5);
    font-size: 4rem;
    line-height: 1.7;
    padding: 0 30px;
}
.top-position{
    margin-left: 20%;
    padding-top: 6%;
}
.top-position h3{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 20px 0;
    margin-left: 30px;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);  */
    /* text-stroke: 1px rgb(255, 255, 255); */
}
h1{
    font-size: 3rem;
    font-weight: bold;
    margin: 60px 0;
    text-shadow: 4px 4px  #fff;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);  */
}

/* nav-------------- */
.nav-list{
    margin-top: 80px;
    width: 923px;
    border: 1px solid #333;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 auto;
}
.nav-item{
    padding: 20px 15px;
}

/* topここまで------------------------------------------ */


/* #message--------------------------------------------- */
.message-txt h2{
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 0 3.1rem 0;
}
.message-txt{
    text-align: center;
    margin: 6rem 0 7.5rem 0;
}
.message-txt p{
    font-size: 1.25rem;
}
/* #messageここまで------------------------------------- */


/* #anxiety-------------------------------------------- */
#anxiety{
    background-image: url(../img/anxiety-bg.png);
    background-position: center;
    padding-bottom: 80px;
    outline: 1px solid #333;
    outline-offset: -20px;

}
.anxiety-1{
    padding-top: 100px;
}
.anxiety-1,.anxiety-2 p{
    text-align: center;
}
.anxiety-title{
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: 4px solid #F8931F;
    margin-bottom: 50px;
}
.anxiety-1 div{
    margin: 50px 0;
}
.anxiety-2{
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
}
.anxiety-2 p{
    font-size: 1.875rem;
    font-weight: 600;
    padding: 30px 0;
}
.anxiety-2-box{
    padding-bottom: 50px;
}
/* #anxietyここまで-------------------------------------------- */

/* #about-------------------------------------------------- */
.bold{
    font-size: 2.5rem;
    font-weight: bold;
}
.about-no{
    font-size: 6rem;
    color: rgba(247, 147, 35, 0.4);
    font-weight: bolder;
    line-height: 1.2;
}
.about-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 90px;
    margin-bottom: 130px;
}
.about-item{
    border: 1px solid #333;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 300px;
    box-shadow: 3px 3px 8px #a09e9e;
}
.about-bgimg1{
    background-image: url(../img/about-1.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg2{
    background-image: url(../img/about-2.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg3{
    background-image: url(../img/about-3.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg4{
    background-image: url(../img/about-4.png);
    background-position: bottom 10px right 10px;
}
.message-txt h3{
    margin: 0 0 2rem 0;
}

/* 無限スライド--------------------------------- */
.loop {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.loop__box {
    display: flex;
    width: 100vw;
}
.loop__box img {
    min-width: 100vw;
}
.loop__box img:first-child {
    animation: loop 50s -25s linear infinite;
}
.loop__box img:last-child {
    animation: loop2 50s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}


/* #aboutここまで------------------------------------------ */


/* creators-------------------------------------------------- */
.creators-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    margin: 50px 0 80px 0;
}
.creators-item a:hover{
    opacity: 0.8;
    transition: all 0.8s;
}
.tiktok-btn{
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/seach.png);
    background-position: 199px 12px;
    color: #fff;
    background-color: #333;
    border-radius: 20px;
    padding-left: 25px;
    line-height: 3;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
}


/* creatorsここまで------------------------------------------- */

/* events ----------------------------------------------------*/
.bgc{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 50px 0 100px 0;
    padding: 50px 0;
}
.events-txt{
    text-align: center;
    font-size: 1.5rem;
}
.flex figure{
    margin: 0 15px;
    text-align: center;
    width: 268px;
}
/* eventsここまで----------------------------------------------*/

/* voice-------------------------------------------------- */
.voice-bg{
    background-color: rgba(247, 147, 35, 0.5);
    margin: 10px 0;
}
.voice-flexitem{
    margin: 20px 0;
}
.voice-flexitem img{
    display: block;
    border-radius: 30px;
    border: 4px solid #F15A25;

}
.voice-flexitem h4{
    border-bottom: 1px solid #333;
    padding: 30px 30px 0 30px;
    width: 200px;
    text-align: center;
}
.voice-flexitem p{
    width: 460px;
    padding: 10px 10px 0 10px;
}
.left-title{
    margin-left: auto;
}
/* voiceここまで-------------------------------------------- */

/* process-------------------------------------------------- */
.process-list{
    width: 45%;
    margin: 0 auto;
}
.process-dt1,.process-dt2,.process-dt3{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    padding-left: 5%;
}
.process-dt1{
    color: #F8931F;
}
.process-dt2{
    color: #F15A25;
}
.process-dt3{
    color: #EC1D1D;
}
.process-bg1{
    background-color: #fff;
    background-image: url(../img/process-1.png);
    background-position: 90% 80%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}
.process-bg2{
    background-color: #fff;
    background-image: url(../img/process-2.png);
    background-position: 90% 80%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}
.process-bg3{
    background-color: #fff;
    background-image: url(../img/process-3.png);
    background-position: 90% 90%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}

.process-dditem{
    font-size: 1.75rem;
    text-align: center;
    margin: 0 0 25px 0;
    font-weight: 600;
}
.process-ddtext{
    font-size: 1.125rem;
    font-weight: 400;
}

.arrow{
    padding-top: 7px;
    width: 31px;
    margin: 0 auto;
}
/* processここまで------------------------------------------ */

/* question----------------------------------------------- */
details{
    width: 720px;
    margin: 20px auto;
    font-size: 1.25rem;
    border: 4px solid#F15A25;
    background-color: #FEEFDD;
}
summary{
    font-size: 1.75rem;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 0;
}
.details-txt{
    padding: 15px 0;
}
.blue{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #9AD3EB;
    margin: 0 10px 0 30px;
}
.red{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #F05A24;
    margin: 0 10px 0 30px;
}
summary::-webkit-details-marker {
    display: none;
  }
  .summary-content img{
    transition: transform 0.4s;
  }
  details[open] .summary-content img {
    transform: rotate(45deg);
  }
  details:last-child{
    margin-bottom: 100px;
  }
/* questionここまで---------------------------------------- */

/* contact------------------------------------------------- */
.contact-message{
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 4px 4px 4px #a09e9e;
    text-align: center;
    padding: 50px 0;
    width: 850px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 60px;
}

/* contactここまで-------------------------------------------- */

/* footer--------------------------------------------- */
footer{
    background-color: #FAAE57;
    background-image: url(../img/footer-bgimg.png);
    background-position: 80% 70%;
    padding: 100px 0;

}
.footer{
    width: 790px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 70px;
}
footer p{
    font-size: 1.75rem;
    border-bottom: 1px solid #F8931F;
    display: inline-block;
    padding: 50px 0 0 20px;
    margin-bottom: 40px;
}
.footer-dllist{
    display: flex;
    margin: 10px 0 15px 80px;
}
.footer-dllist dt{
    width: 150px;
    padding: 0 25px;
    border-bottom: 1px solid #333;
    margin-right: 50px;
}