@charset "UTF-8";

/* 共通項目----------------------------- */

body{
    font-size: 16px;
    color: #333;
}

ul,ol{
    list-style-type: none;
}


.flex{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}

/* contact-btn */
.contact-btn{
    text-align: center;
    position: sticky;
    top: 90%;
    z-index: 10;
}
@media screen and (max-width: 500px) {
    .contact-btn img{
    width: 350px;
    }
}

/* h2 title */
.eng{
    font-size: 2.5rem;
}
.jpn{
    font-size: 1.25rem;
    background-color: #F15A25;
    color: #fff;
}
.title-box{
    margin: 100px 0 50px 0;
}
.title-item{
    background-image: url(../img/h2-img.png);
    background-repeat: no-repeat;
    max-width: 37%;
    margin: 0 auto;
    height: 112px;
}
.eng, .jpn{
    position: relative;
    left: 5%;
    z-index: -1;
    padding-left: 22%;
}

@media screen and (max-width: 1100px) {
    .eng{
        padding-top: 5%;
        font-size: 1.43rem;
    }
    .jpn{
        font-size: 0.75rem;
        line-height: 2.2;
    }
    .title-box{
        margin: 60px 0 40px 0;
    }

    .title-item{
        background-size: 61px 75px;
        max-width: 230px;
        padding: 0 10px;
        height: 80px;
    }
    
}

/* background-------------- */
#events,#process,#contact{
    background-image: url(../img/section-bg.png);
    z-index: 0;
    position: relative;
    padding: 10px 0 80px 0;
}

@media screen and (max-width: 1100px) {
    .wrapper{
        max-width: 490px;
        padding: 0;
    }
}

@media screen and (max-width: 490px) {
    .wrapper{
        max-width: 330px;
    }
}



/* top------------------------------------------ */

.top-img{
    height: 723px;
    background-image: url(../img/top-img.jpg);
    background-position: center;
}
.top-message{
    background-color: rgba(247, 147, 35, 0.5);
    font-size: 4rem;
    line-height: 1.7;
    padding: 0 30px;
}
.top-position{
    margin-left: 20%;
    padding-top: 6%;
}
.top-position h3{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 20px 0;
    margin-left: 30px;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);  */
    /* text-stroke: 1px rgb(255, 255, 255); */
}
h1{
    font-size: 3rem;
    font-weight: bold;
    margin: 60px 0;
    text-shadow: 2px 2px  #fff;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);  */
}

@media screen and (max-width: 1100px) {
    .top-img{
        background-image: url(../img/tb-top-img.jpg);
        height: 438px;
    }
    .top-message{
        font-size: 2.25rem;
    }
    .top-position h3{
        font-size: 1.33rem;
    }
    h1{
        font-size: 1.8rem;
    }
        }

    @media screen and (max-width: 490px) {
        .top-img{
            background-image: url(../img/sp-topIMG.jpg);
        }
        .top-message{
            font-size: 2rem;
            padding: 0 20px;
        }
        .top-position{
            margin-left: 10%;
            padding-top: 6%;
        }
        .top-position h3{
            font-size: 1.18rem;
        }
        h1{
            font-size: 1.31rem;
        }
    
        }
/* nav-------------- */
.nav-list{
    margin-top: 80px;
    width: 923px;
    border: 1px solid #333;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.nav-item{
    padding: 20px 15px;
}

@media screen and (max-width: 1100px) {
    .nav-list{
        display: none;
    }
}
/* topここまで------------------------------------------ */


/* #message--------------------------------------------- */
.message-txt h2{
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 0 3.1rem 0;
}
.message-txt{
    text-align: center;
    margin: 6rem 0 7.5rem 0;
}
.message-txt p{
    font-size: 1.25rem;
}

@media screen and (max-width: 1100px) {
    .message-txt h2{
        font-size: 1.43rem;
    }
    .message-txt p{
        font-size: 0.85rem;
        text-align: left;
    }
    }
@media screen and (max-width: 490px) {
    .message-txt{
        margin: 50px 0;
    }
    .message-txt h2{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .message-txt p{
        font-size: 0.81rem;
    }

}
/* #messageここまで------------------------------------- */


/* #anxiety-------------------------------------------- */
#anxiety{
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/anxiety-bg.png);
    /* background-position: center; */
    padding-bottom: 80px;
    outline: 1px solid #333;
    outline-offset: -20px;
}

.anxiety-1{
    padding-top: 100px;
}
.anxiety-1,.anxiety-2 p{
    text-align: center;
}
.anxiety-title{
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: 4px solid #F8931F;
    margin-bottom: 50px;
}
.anxiety-1 div{
    margin: 50px 0;
}
.anxiety-2{
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    box-shadow: 4px 4px 4px #a09e9e;
}
.anxiety-2 p{
    font-size: 1.875rem;
    font-weight: 600;
    padding: 30px 0;
}
.anxiety-2-box{
    padding-bottom: 30px;
}
@media screen and (max-width: 1100px) {
    .anxiety-title{
        font-size: 1.35rem;
    }
    .anxiety-1 {
        padding-top: 60px;
    }
    .anxiety-1 div{
        margin: 25px 0;
    }
    .anxiety-1 div img{
    width: 350px;
    }
    .anxiety-2 p{
        font-size: 1.3rem;
        padding: 20px 0;
    }
    .anxiety-2-box :first-child img{
        width: 300px;
        padding-bottom: 50px;
    }
    .anxiety-2-box :last-child img{
        padding-top: 50px;
        width: 120px;
        }
    .anxiety-2{
        width: 440px;
    }
    }

    @media screen and (max-width: 490px) {
        .anxiety-1 div img{
            width: 310px;
        }
        .anxiety-2{
            width: 330px;
        }
        .anxiety-2-box :first-child img{
            width: 250px;
            padding: 0 0 0 5px;
        }
        .anxiety-2-box :last-child img{
            padding: 0;
            width: 65px;

        }
        .anxiety-2-box :last-child {
            padding: 90px 5px 0 0;
        }
    
        .anxiety-2-box{
            padding-bottom: 10px;
        }
        .anxiety-title{
            font-size: 1rem;
            margin-bottom: 30px;
        }
        .anxiety-2 p{
            font-size: 1rem;
            padding: 20px 5px;
        }
        #anxiety{
            padding-bottom: 40px;
            outline-offset: -10px;
        }
        
}

/* #anxietyここまで-------------------------------------------- */

/* #about-------------------------------------------------- */
.about-message-txt-h3{
    font-size: 2.5rem;
    font-weight: bold;
}
.about-no{
    font-size: 6rem;
    color: rgba(247, 147, 35, 0.4);
    font-weight: bolder;
    line-height: 1.2;
}
.about-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 90px;
    margin-bottom: 130px;
}
.about-item{
    border: 1px solid #333;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    min-height: 300px;
    box-shadow: 3px 3px 8px #a09e9e;
}
.about-bgimg1{
    background-image: url(../img/about-1.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg2{
    background-image: url(../img/about-2.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg3{
    background-image: url(../img/about-3.png);
    background-position: bottom 10px right 10px;
}
.about-bgimg4{
    background-image: url(../img/about-4.png);
    background-position: bottom 10px right 10px;
}
.about-message-txt-h3{
    margin: 0 0 2rem 0;
}

@media screen and (max-width: 1100px) {
    .bold{
        font-size: 1.31rem;
    }
    .about-no{
        font-size: 3rem;
    }
    .about-no-txt{
        font-size: 0.65rem;
    }
    .about-list{
        gap: 15px;
        margin: 50px 0 60px 0;
    }
    .about-item{
        border: 1px solid #333;
        border-radius: 20px;
        padding: 10px;
        min-height: 160px;
        box-shadow: 3px 3px 8px #a09e9e;
    }
    .about-bgimg1{
        background-size: 150px 100px;
    }
    .about-bgimg2{
        background-image: url(../img/about-2.png);
        background-size: 150px 100px;
    }
    .about-bgimg3{
        background-image: url(../img/about-3.png);
        background-size: 150px 100px;
    }
    .about-bgimg4{
        background-image: url(../img/about-4.png);
        background-size: 150px 100px;
    }
    .about-message-txt-h3{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .about-message-txt p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 490px) {
    
    .about-list{
        width: 235px;
        margin: 50px auto;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    
}


/* 無限スライド--------------------------------- */
.loop {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.loop__box {
    display: flex;
    width: 100vw;
}
.loop__box img {
    min-width: 100vw;
}
.loop__box img:first-child {
    animation: loop 50s -25s linear infinite;
}
.loop__box img:last-child {
    animation: loop2 50s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}


/* #aboutここまで------------------------------------------ */


/* creators-------------------------------------------------- */
.creators-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    margin: 50px 0 80px 0;
}
.creators-item a:hover{
    opacity: 0.8;
    transition: all 0.8s;
}
.tiktok-btn{
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/seach.png);
    background-position: 199px 12px;
    color: #fff;
    background-color: #333;
    border-radius: 20px;
    padding-left: 25px;
    line-height: 3;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
}

@media screen and (max-width: 1100px) {
    .creators-list{
        grid-template-columns: 1fr 1fr;
        column-gap: 12% ;
        row-gap: 50px;
    }
    .tiktok-btn{
        background-size: 10px 14px;
        background-position: 130px 7px;
        font-size: 0.625rem;
        width: 160px;
        padding-left: 18px;
        margin: 15px auto;
    }
    .creators-cap{
        font-size: 0.625rem;
        width: 188px;
    }
    .creators-img{
        width: 188px;
    }

}
@media screen and (max-width: 490px) {
    .creators-list{
        grid-template-columns: 1fr ;
        column-gap: 12% ;
        row-gap: 50px;
        }
        .creators-img{
            display: block;
        }
        .creators-item{
            margin: 0 auto;
        }
        .creators-cap{
            margin-top: 10px;
        }
        .events-caption{
            margin-bottom: 10px;
        }
    }

/* creatorsここまで------------------------------------------- */

/* events ----------------------------------------------------*/
.bgc{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 50px 0 100px 0;
    padding: 50px 0;
}
.events-txt{
    text-align: center;
    font-size: 1.5rem;
}
.flex figure{
    margin: 0 15px;
    text-align: center;
    width: 268px;
}

@media screen and (max-width: 1100px) {


    .events-txt{
        font-size: 0.875rem;
    }
    .flex figure{
        margin: 0 5px;
    }

    .events-img{
        width: 146px;
    }
    .events-caption{
        font-size: 0.5rem;
    }
    }
    @media screen and (max-width: 490px) {
    #events .flex{
        flex-wrap: wrap;
    }
    .bgc{
        margin: 20px 0 0 0;
    }
    }

/* eventsここまで----------------------------------------------*/

/* voice-------------------------------------------------- */
.voice-bg{
    background-color: rgba(247, 147, 35, 0.5);
    margin: 10px 0;
}
.voice-flexitem{
    margin: 20px 0;
}
.voice-flexitem img{
    display: block;
    border-radius: 30px;
    border: 4px solid #F15A25;

}
.voice-flexitem h4{
    border-bottom: 1px solid #333;
    padding: 30px 30px 0 30px;
    width: 200px;
    text-align: center;
}
.voice-flexitem p{
    width: 460px;
    padding: 10px 10px 0 10px;
}
.left-title{
    margin-left: auto;
}

@media screen and (max-width: 1100px) {
    .voice-flexitem img{
        width: 130px;
    }
    .voice-flexitem h4{
        padding: 15px 0 0 0;
    }
    .voice-flexitem p{
        font-size: 0.75rem;
        width: 260px;
    }
@media screen and (max-width: 490px) {
    .voice-bg .flex{
        display: block;
    }
    .voice-flexitem{
        padding-top: 20px;
        margin: 0;
    }
    .voice-flexitem img{
        margin: 0 auto;
    }
    .voice-flexitem h4{
        margin: 0 auto;
        padding: 0;
    }
    .voice-flexitem p{
        margin: 0 auto;
        padding-bottom: 20px;
    }

}

}

/* voiceここまで-------------------------------------------- */

/* process-------------------------------------------------- */
.process-list{
    width: 45%;
    margin: 0 auto;
}
.process-dt1,.process-dt2,.process-dt3{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    padding-left: 5%;
}
.process-dt1{
    color: #F8931F;
}
.process-dt2{
    color: #F15A25;
}
.process-dt3{
    color: #EC1D1D;
}
.process-bg1{
    background-color: #fff;
    background-image: url(../img/process-1.png);
    background-position: 90% 80%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}
.process-bg2{
    background-color: #fff;
    background-image: url(../img/process-2.png);
    background-position: 90% 80%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}
.process-bg3{
    background-color: #fff;
    background-image: url(../img/process-3.png);
    background-position: 90% 90%;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #a09e9e;
    padding: 20px;
    height: 286px;
}

.process-dditem{
    font-size: 1.75rem;
    text-align: center;
    margin: 0 0 25px 0;
    font-weight: 600;
}
.process-ddtext{
    font-size: 1.125rem;
    font-weight: 400;
}

.arrow{
    padding-top: 7px;
    width: 31px;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    .process-list{
        width: 210px;
    }
    .process-dt1,.process-dt2,.process-dt3{
        font-size: 1.75rem;
    }
    .process-dditem{
        font-size:0.8rem;
    }
    .process-ddtext{
        font-size: 0.5rem;
    }
    .process-bg1,.process-bg2,.process-bg3{
        background-size: 50%;
        height: auto;
        padding: 10px;
    }



    }
/* processここまで------------------------------------------ */

/* question----------------------------------------------- */
details{
    width: 720px;
    margin: 20px auto;
    font-size: 1.25rem;
    border: 4px solid#F15A25;
    background-color: #FEEFDD;
}
summary{
    font-size: 1.75rem;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 0;
}
.details-txt{
    padding: 15px 0;
}
.blue{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #9AD3EB;
    margin: 0 10px 0 30px;
}
.red{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #F05A24;
    margin: 0 10px 0 30px;
}
summary::-webkit-details-marker {
    display: none;
  }
  .summary-content img{
    transition: transform 0.4s;
  }
  details[open] .summary-content img {
    transform: rotate(45deg);
  }
  details:last-child{
    margin-bottom: 100px;
  }

  @media screen and (max-width: 1100px) {
    details{
        width: 400px;
        margin: 5px auto;
        font-size: 0.8rem;
    }
    summary{
        font-size: 0.8rem;
        padding: 5px 5px 0 0;
    }
    .summary-content img{
        width: 18px;
    }
    .blue,.red{
        font-size: 0.8rem;
        margin-left: 10px;
    }
  }
  @media screen and (max-width: 490px) {
    details{
        width: 330px;
        margin: 5px auto;
        font-size: 0.8rem;
    }
  }

/* questionここまで---------------------------------------- */

/* contact------------------------------------------------- */
.contact-message{
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 4px 4px 4px #a09e9e;
    text-align: center;
    padding: 50px 0;
    width: 85%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 60px;
}
@media screen and (max-width: 1100px) {
    .contact-message{
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 1100px) {
    .contact-message{
        font-size: 0.5rem;
        padding: 30px 0;
    }
}


/* contactここまで-------------------------------------------- */

/* footer--------------------------------------------- */
footer{
    background-color: #FAAE57;
    background-image: url(../img/footer-bgimg.png);
    background-position: 80% 70%;
    padding: 100px 0;

}
.footer{
    max-width: 790px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 70px;
}
footer p{
    font-size: 1.75rem;
    border-bottom: 1px solid #F8931F;
    display: inline-block;
    padding: 50px 0 0 20px;
    margin-bottom: 40px;
}
.footer-dllist{
    display: flex;
    margin: 10px 0 15px 80px;
}
.footer-dllist dt{
    width: 150px;
    padding: 0 25px;
    border-bottom: 1px solid #333;
    margin-right: 50px;
}

@media screen and (max-width: 1100px) {
    .footer{
        padding-bottom: 40px;
        max-width: 490px;
    }

    footer p{
        padding: 40px 40px 0 40px;
        font-size: 1rem;
    }
    .footer-dllist{
        font-size: 0.6rem;
    }
    .footer-dllist dt{
        width: 70px;
        padding: 0;
    }

    footer{
        background-size: 30%;
    }
    }